<?xml version="1.0"?>

<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  <node name="joy" pkg="joy" type="joy_node" output="screen" >
    <param name="dev" value="$(arg joy_dev)" />
  </node>
  <node name="controller" pkg="roscloud_teleop_demo" type="controller.py" output="screen" >
  </node>
  <node name="roscloud_client" pkg="roscloud_client" type="client_node.py">
    <param name="name" value="teleop_controller"/>
    <param name="host" value="wallar.me"/>
    <param name="port" value="8080"/>
    <param name="private_key" value="MIICXAIBAAKBgQCTUQ49FJUCVvU5tIag" />
    <param name="description" value="Teleoperation Controller" />
    <rosparam>
            publishing:
                - /mavros/rc/override
            types:
                - mavros_msgs/OverrideRCIn
            trusted:
                - ".*"
    </rosparam>
  </node>
</launch>
